*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    background-repeat: no-repeat;
    text-decoration: none;
    outline: none;
    list-style:none;
    border: none;
  }
  
  :root {
    --Blanc:#ffffff ;
    --OrangeClair: #fab637 ;
    --Rouge: #ff4848 ;
    --Orange: #cc6119 ;
    --Gris: #eceff3c9 ;
    --Noir: #232628 ;
    --Bleu: #6c98e1 ;
    
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
  }
  
  /* header{
    background-image:url();  
    background-size: cover; 
  } */

.HautDePage {
    background-color: var(--Noir);
    color: var(--Blanc);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    padding: 15px 85px 15px;
    justify-content: space-around;
    align-items: center;
  }

#logo a {
    flex-basis: 265px;
    color: white;
  }

span {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    max-width: 20px;
    color: var(--Orange);
   }
/* ---- Img Haut de Page ---- */
.HautDePage img{
    position: absolute;
    width: 50px;
    margin-left:-55px;
    }

.IconHeader img {
    position: relative;
    width: 50px;
    margin: 10px;
    background-color:rgba(128, 128, 128, 0.333);
    border: solid 10px transparent;
    border-radius: 50%;
    overflow: hidden;
    }
    #telephone img {
    top: 25px;
    }
    #logo a{  
    flex-basis: 265px;
    color: white;
    }
    #logo a:hover{
    color: #cc6119;
    }
   
/*------ Pour page d'accueil et le mobile ------ */
    .BasDePage {
      background-color: var(--Noir);
      color: var(--Blanc);
      margin-top: 73vh;
      padding: 40px 0px 45px 125px;
      
    }
    h2 {
    font-size: 3rem;
    }
    .Span {
    font-size: 1em;
    margin-right: 5px;
    } 
/* ----- Menu Bar Mobile ----- */
#openBtn, #closeBtn {
    display: none;
}

/* ----- Nav Bar ----- */

nav {
  font-family: 'Montserrat', sans-serif;
  padding: 15px 85px 15px;
  width: 100%;
  height: 4.5em;
  align-items: center;
  display: inline-flex;
  justify-content: flex-end;
  background-color: var(--Gris);
  list-style: none;
}
nav ul {
  text-align: center;
  margin: 0 50px;
  display: flex;
  justify-content: flex-end
}
 nav a {
  color: #232628;
  padding: 1.69em 30px;
}

nav li.active {
  color: var(--Blanc);
  background-color: var(--Orange);
}
nav li.active a {
  color: #ffffff;
}
.hover-bg{
  width: 100px;
}

/* -------- Hover NavBar ------- */
nav li.active a:hover{
  color: var(--Noir);
}
nav a:hover{
    color: white;
    transition: ease 0.8s;
    opacity: 2;
    font-size: 17px;
} 

nav li {
  position: relative;
  padding: 1.69em 5px;  
  z-index: 1;
} 

nav li:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--Orange);
  transition: transform 0.3s ease;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: width;
}

nav li:hover:after {
  transform: scaleX(1);
}

.Reseaux li:hover, .IconHeader img:hover, #Reseaux li:hover{
  background-color: var(--Orange);
  opacity: 1.4;
  transition: 1s ;   
}
/* ------------- Footer ---------- */
footer{
    position: relative;
    padding: 0 100px;
    background-color: var(--Noir);
    height: auto;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 40px;
  }
  .footer{
    flex-basis: 20%;
  }
  
  #SpanBleu {
    font-family: 'Montserrat', sans-serif;
    color: var(--Bleu);
    font-size: 15px;
  }
  footer h4{
    color: var(--Blanc);
    margin-top: 6vh;
    margin-bottom: 2vh;
    font-size: 15px;
    
  }
  footer p {
    color: var(--Gris);
    margin-top: 2vh;
  }
  footer span{
    color: var(--Blanc);
    font-family: 'Open Sans', sans-serif; 
  }
  #ClubAuto p {
    font-family: 'Open Sans', sans-serif; 
    width: 250px ;
    
  }
  #Horaire p, #Mail p {
    color: #b2b5b8c9;
    margin-right: 5px;
  }
  #Mail #Send {
    background-color: var(--Orange);
    padding: 0.42em 0.7em 0.5em;
    margin: 0 -50px -14px;
    border: none;
}
  
  #Mail input {
    padding: 0.55rem 3rem;
    border-width: 2px;
    border-style: inset;
  }
  
  #Reseaux ul{
    display: flex;
    list-style: none; 
    margin: 0% 5px;
  }
  
  #Reseaux li {
    background:rgba(128, 128, 128, 0.333);
    margin: 0% 5px;
    width: 60px;
    height: 50px;
    
  } 
  
  #Reseaux img {
    margin-top: 0.5em;
    margin-left: 0.9em;
    width: 2em;
  }
  
  /*-------------- Copyright ---------------*/
  
  .HrGris {
    border: 1px solid var(--Gris);
    opacity: 0.3;
    margin-top: 2em;
  }
  #Copyright {
    flex-basis: 100% ;
    color: var(--Gris);
    opacity: 0.3;
    font-size: 20px;
    text-align: center;
    font-family: 'Open Sans', sans-serif; 
  }
  #Copyright p{
    margin-bottom: 50px;
  }

  /* ::::::::  Medias Queries :::::::::::: */
@media screen and (max-width:1600px) {
  .HautDePage{
    padding: 15px 35px;
  }
 
}
 @media screen and (max-width:1320px) {
  h1 {
    font-size: 2em;
    margin: 0.2em 0 0.67em;
}
  #logo{
  font-size: 25px;
  text-align: center;
  flex-basis: 100%;
}
#telephone img {
  top: 125px;
}
 .Info{
    flex-basis: 25%;
  }
  #telephone{
    margin-bottom: 10px;
  }
} 

  @media screen and (max-width:970px) {

    /* ------- Display None --------- */
    .HautDePage h1,.Info, .IconHeader {
      display: none;
    }
    #Car2, #Car3{
      display: none;
    }
  
    /* --------- Header ------------ */
    .HautDePage{
      display: block;
      padding: 15px 85px 15px;
    }
     #telephone img{
      width: 40px;
      margin: 0;
      top: 30px;
      left: 2.5em;
    }
    #telephone p{
      position: absolute;
      top: 30px;
    }
    .BasDePage{
      display: block;
      margin: -1px 0;
      padding: 60px 0 20px;
    }
    .BasDePage h2{
      font-size: 40px;
      margin-left: 1em;
    }
    
    nav {
      display: block;
      padding: 0;
      width: 0;
      height: 0;
    }
    /* ------ Burger Menu -------- */
  
   /* Sidenav menu */
    .sidenav {
      display: inline;
      height: 100%;
      width: 250px;
      position: fixed;
      z-index: 1;
      top: 0;
      right: -250px;
      background-color:rgba(0, 0, 0, 0.777);
      backdrop-filter: blur(7px);
      padding-top: 60px;
      transition: all ease 3s;
    }
  
      /* Active class */
      .sidenav.active {
        right: 0; 
        transition: all ease 2s;
      }
  
    #openBtn{
      display: block;
    }
    
    .sidenav ul {
      display: block;
      list-style-type: none;
      margin: 100px 0;
    }
    
    /* Sidenav menu links */
  
    .sidenav a {
      text-align: start;
      color: var(--Orange);
      display: block;
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 20px;
    }
  /* ------ Hover Nav --------- */
  
    .sidenav li a:hover {
      font-size: 23px;
      color:rgb(255, 108, 17)  ;
      transition: ease 1s;
    }
    nav li:after {
      display: none;
    }
    nav li:hover:after {
      display: none;
    }
    .sidenav a:visited {
    color: var(--Orange); 
    }
    nav li.active a:visited {
      color: #ffffff;
    }
    nav li.active a:hover {
      color: #ffffff;
  }
    nav li.active {
      background-color:transparent;
    }


 /* :::::: Transition ::::::::::: */

/* ----- Active child */
.sidenav li {
  width: 0;
  transition: width 0.5s ease, transform 3s ease;
  transform: translateX(100%);
}

.sidenav.active li {
  width: 150px;
  margin-left: 50px;
  transform: translateX(0);
  transition-delay: 0.1s;
}


.sidenav.active li:nth-child(2) {
  transition-delay: 0.2s;
}

.sidenav.active li:nth-child(3) {
  transition-delay: 0.3s;
}

.sidenav.active li:nth-child(4) {
  transition-delay: 0.4s;
}

/* ::::::::::::::::::::::::::::::::::::: */
  
  /* ---- Close btn ---- */
  .sidenav .close , #closeBtn {
    display: block;
    position: absolute;
    top: 13px;
    right: 23px;
    font-size: 36px;
  }
  a#closeBtn {
    padding: 8px 50px 32px;
    font-size: 30px;
  }

  /* ----- Open Btn ----- */
  #openBtn {
    color: var(--Bleu);
    position: absolute;
    right: 54px;
    top: 0px;
    padding: 0;
    font-size: 60px;
}
/* ------- Footer ------- */
footer{
  padding: 0 20px;
  flex-direction: column;
  justify-content: flex-start
}
.Reseaux ul {
margin: 0;
}
footer h4, #SpanBleu, footer p, footer span {
  font-size: 18px;
}
#ClubAuto p{
  text-align: initial;
  width: 100%;
}
#Mail input {
  padding: 0.5rem 3rem;
}
#Reseaux, #Mail {
  width: -webkit-fill-available;
}
}